.contenedor{
    /*defino grid "First Mobile" */
    grid-template-areas:  "encabezado encabezado encabezado"
                          "contenido contenido contenido"
                          "sidebar sidebar sidebar"
                          "widget-1 widget-2 widget-2"
                          "pie pie pie";
}

/* Punto de quiebre para pantallas intermedias (tablets) */
@media screen and (min-width: 768px){
    .contenedor{
        grid-template-areas:     "encabezado encabezado encabezado"
                                 "contenido contenido contenido"
                                 "contenido contenido contenido"
                                 "widget-1 widget-2 sidebar"
                                 "pie pie pie";
    }
}

/* Punto de quiebre para pantallas grandes (notebook/desktop) */
@media screen and (min-width: 1024px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido sidebar"
                             "contenido contenido sidebar"
                             "widget-1 widget-2 sidebar"
                             "pie pie pie";
    }
}

