.contenedor{
    /*defino grid "First Mobile" */
    grid-template-areas:  "encabezado encabezado encabezado"
                          "contenido contenido contenido"
                          "sidebar sidebar sidebar"
                          "widget-1 widget-2 widget-2"
                          "pie pie pie";
}

/* Se definen clases y estilos propios de history.html */

.Youtube{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.Youtube iframe{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

.GoogleMaps{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.GoogleMaps iframe{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Punto de quiebre para pantallas intermedias (tablets) */
@media screen and (min-width: 768px){
    .contenedor{
        grid-template-areas:     "encabezado encabezado encabezado"
                                 "contenido contenido contenido"
                                 "contenido contenido contenido"
                                 "widget-1 widget-2 sidebar"
                                 "pie pie pie";
    }
}

/* Punto de quiebre para pantallas grandes (notebook/desktop) */
@media screen and (min-width: 1024px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido sidebar"
                             "contenido contenido sidebar"
                             "widget-1 widget-2 sidebar"
                             "pie pie pie";
    }
}
